<% include ../partials/header %>

<div class="ui container" id="container-grid">
  <h1>Players</h1>
<form class="ui form" id="filters-form" action="/players" method="GET">
  <div class="fields ">
    <div class="field">
        <label>Sort By</label>
        <div class="ui selection dropdown">
            <input type="hidden" name="sort" value="<%=sort %>" onchange="this.form.submit()">
            <i class="dropdown icon"></i>
            <div class="default text">Sort By</div>
            <div class="menu">
                <div class="item"  data-value="last_name">Last Name</div>
                <div class="item" data-value="birthday">Age</div>
                <div class ="item" data-value="primary_position"> Position</div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Filter By</label>
        <div class="ui selection dropdown">
            <input type="hidden" name="filter" value="<%=filter %>" onchange="this.form.submit()">
            <i class="dropdown icon"></i>
            <div class="default text">Filter By</div>
            <div class="menu">
                <div class="item"  data-value="none">None</div>
                <div class="item"  data-value="U21 Boys">U21 Boys</div>
                <div class="item" data-value="U17 Boys">U17 Boys</div>
                <div class ="item" data-value="U17 Girls">U17 Girls</div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>View</label>
        <div class="ui selection dropdown">
            <input type="hidden" name="view"  value ="<%=view%>" onchange="this.form.submit()">
            <i class="dropdown icon"></i>
            <div class="default text">View </div>
            <div class="menu">
                <div class="item"  data-value="cards">Cards</div>
                <div class="item"  data-value="list">List</div>
            </div>
        </div>
    </div>
    
  </div>
  
</form>


<!--<form class="ui form" action="/players" method="GET">-->
<!--  <div class="fields">-->
<!--     <div class="field">-->
<!--      <label>Sort By</label>-->
<!--      <select class="ui dropdown" name="sort" value="<%=sort %>" id="sort" style="float: left;" onchange="this.form.submit()">-->
<!--            <option value="">Sort by</option>-->
<!--          <option value="last_name">Last Name</option>-->
<!--          <option value="birthday">Age</option>-->
<!--          <option value="primary_position"> Position </option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="field">-->
<!--      <label>Filter By</label>-->
<!--      <select class="ui dropdown" name="filter" value="<%=sort %>" id="filter" style="float: left;" onchange="this.form.submit()">-->
<!--          <option value="">Filter by</option>-->
<!--          <option value="U21 Boys">U21 Boys</option>-->
<!--          <option value="U17 Boys">U17 Boys</option>-->
<!--          <option value="U17 Girls">U17 Girls</option>-->
<!--      </select>-->
<!--    </div>-->
    
<!--  </div>-->
 
  
<!--</form>-->


<% if(currentUser && currentUser.admin === 1){ %>
    <div class="ui right aligned "> 
        <a class="ui   labeled icon button basic green" href="/players/new">
          <i class="user plus icon"></i>
          Add Player
        </a>
    </div>
<% }%>

<% if(view === "cards"){ %>
  <div class="ui link five raised cards doubling">
  
      <% players.forEach(function(player){ %>
          <!--<a href="/players/<%=player.id %>">-->
          <div class="card" >
          <a class="image" href="/players/<%=player.id %>">
            <img src="<%=player.image_url %>">
          </a>
          <div class="content">
            <div class="header"><%=player.first_name %> <strong><%=player.last_name %></strong></div>
            <div class="meta">
                <%= player.grad_year %>
              <a></a>
            </div>
            <div class="description">
              
              <%=player.primary_position %>
              <%= player.team %>

            </div>
          </div>

          <div class="extra content">
            <span class="right floated">
                <p class="header">
                <% if(player.video_url){ %>
                  
                    <a href="<%=player.video_url %>" target="_blank"><i class="youtube circular link icon"></i></a>

                <% } %>
                <% if(player.email){ %>
                   <a href="mailto: <%=player.email %>"> <i class="at  circular link icon"></i></a>
                   
                  <% } %>
                  <% if(player.profile_doc){ %>
                  
                    <a href="<%=player.profile_doc %>" target="_blank"><i class="file alternate circular link icon"></i></a>

                <% } %>
                </p>
            </span>
            <!-- <span>
              <i class="user icon"></i>
              75 Friends
            </span> -->
          </div>
        </div>
        <!--</a>-->
          <!--<img src="<%=player.image_url %>">-->
          <!--<h3> <%=player.first_name %> <%=player.last_name %></h3>-->
          
      <% }); %>

<% }else if(view="list"){ %>
<div class="ui divided selection list">
    <% players.forEach(function(player){ %>
      <a class="item" href="/players/<%=player.id %>">
          <img class="ui avatar image" src="<%=player.image_url %>">
          <div class="content">
              <div class="header"> <%=player.first_name %> <%=player.last_name %> </div>
              <div class="description"> <strong><%= player.primary_position %></strong>  playing with the <strong><%= player.team %></strong> </div>


          </div>


        </a>
    <% }); %>

</div>
<% } %>


</div>
<% include ../partials/footer %>
