<% include ../partials/header %>

<div class="ui right aligned container"> 
  <a class="ui right labeled icon button" href="/players/<%=player.id %>/edit">
    <i class="edit icon"></i>
    Edit Player
  </a>
</div>

<div class=" ui grid container">
    <div class="row">
        <div class="four wide column">
                  <img class="ui image bordered medium" src="<%=player.image_url %>">

        </div>
        <div class=" twelve wide column">
            <h1><%=player.jersey_num %><%=player.first_name %> <%=player.last_name %></h1>
            <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">Position: <%=player.primary_positon %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">Team: <%=player.team %></p>
                    </div>
                </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Education: <%=player.school_type %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Email: <%=player.email %></p>
                    </div>
                  </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="ui tabular menu ">
            <a class="active item tablinks"  id="defaultOpen" onclick="openTab(event, 'personal_tab')">
                Personal Info
            </a>
            <a class=" item tablinks"   onclick="openTab(event, 'athletic_tab')">
                Athletic Info
            </a>
            <a class=" item tablinks"  onclick="openTab(event, 'academic_tab')" >
                Academic Info
            </a>
            <a class="item tablinks"  onclick="openTab(event, 'accomplishments_tab')">
                Accomplishments
             </a>
        </div>
    </div>
    <div class="tabcontent  " id="personal_tab" >
        <p>Hello 1</p>
         <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">DOB: <%=player.birthday %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">Gender: <%=player.gender %></p>
                    </div>
                </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Phone: <%=player.phone %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Email: <%=player.email %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Hometown: <%=player.city %></p>
                    </div>
                  </div>
            </div>

    </div>
    <div class=" tabcontent" id="athletic_tab" >
                <p>Hello 2</p>
            <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">Position: <%=player.primary_positon %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">Secondary Position: <%=player.secondary_position %></p>
                    </div>
                </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Team: <%=player.team %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Preferred Foot: <%=player.prefer_foot %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Height: <%=player.height_in_m %> m</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Weight: <%=player.weight_in_kg %> kg</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Video URL: <%=player.video_url %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Profile: <%=player.profile_doc %></p>
                    </div>
                  </div>
            </div>


    </div>
    <div class=" tabcontent" id="academic_tab">
                <p>Hello 3</p>
                <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">Education Type: <%=player.school_type %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">School name: <%=player.school_name %></p>
                    </div>
                </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Graduation Year: <%=player.grad_year %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">SAT Score: <%=player.sat_score %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">GPA: <%=player.gpa %> </p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">ACT Score: <%=player.act_score %> </p>
                    </div>
                  </div>
                  
            </div>


    </div>
    <div class=" tabcontent" id="accomplishments_tab">
            <% accomplishments.forEach(function(accomplishment){ %>
            <h3> <%=accomplishment.name_acc %></h3>
            <p> <%=accomplishment.date_acc %></p>
            <p> <%=accomplishment.text_acc %></p>
            <div class="ui divider"></div>
            <% }) %>

    </div>
    
</div>




<% include ../partials/footer %>
