<% include ../partials/header %>
<div class="ui container">
<% if(currentUser && currentUser.admin === 1){ %>
    <div class="ui right aligned container"> 
      <div class="ui mini buttons">
          <a class="ui  labeled icon button edit-button inverted " href="/players/<%=player.id %>/edit">
            <i class="edit icon"></i>
            Edit Player
          </a>
          <form class=" form" action="/players/<%= player.id %>?_method=DELETE" method="POST">
            <button class="ui  labeled icon button red inverted">
            <i class="trash icon"></i>
            Delete Player
          </button>
          </form>
      </div>
      
    </div>
<% }%>



<div class=" ui grid container stackable">
    <div class="row">
        <div class="four wide column">
                  <img class="ui image bordered medium" src="<%=player.image_url %>">

        </div>
        <div class=" twelve wide column">
            <h1><%=player.jersey_num %><%=player.first_name %> <%=player.last_name %></h1>
            <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">Position: <%=player.primary_position %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">Team: <%=player.team %></p>
                    </div>
                </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Education: <%=player.school_type %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Email: <%=player.email %></p>
                    </div>
                  </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="ui tabular menu " id="tab-menu">
            <a class="active item tablinks"  id="defaultOpen" onclick="openTab(event, 'personal_tab')">
                <i class="info circle icon"></i>
              <div class="menu-text">
                Personal 
              </div>
            </a>
            <a class=" item tablinks"   onclick="openTab(event, 'athletic_tab')">
                <i class="futbol icon"></i>
              <div class="menu-text">
                Athletic 
              </div>
            </a>
            <%  if(player.school_type || player.school_name || player.grad_year){ %>
            <a class=" item tablinks"  onclick="openTab(event, 'academic_tab')" >
                <i class="pencil alternate icon"></i>
              <div class="menu-text">
                Academic 
              </div>
            </a>
            <% }%>
            <a class="item tablinks"  onclick="openTab(event, 'accomplishments_tab')">
                <i class="trophy icon"></i>
              <div class="menu-text">
                Accomplishments
              </div>
             </a>
        </div>
    </div>
    <div class="tabcontent  " id="personal_tab" >
         <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                          <p class="header">DOB:
                              <% if(player.birthday){ %>
                            <%= player.birthday.toISOString().slice(0,10) %></p>
                          <% } %>                            

                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">Gender: <%=player.gender %></p>
                    </div>
                </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Phone: <%=player.phone %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Email: <%=player.email %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Hometown: <%=player.city %></p>
                    </div>
                  </div>
            </div>

    </div>
    <div class=" tabcontent" id="athletic_tab" >
            <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">Position: <%=player.primary_position %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">Secondary Position: <%=player.secondary_position %></p>
                    </div>
                </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Team: <%=player.team %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Preferred Foot: <%=player.prefer_foot %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Height: <%=player.height_in_m %> m</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Weight: <%=player.weight_in_kg %> kg</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Video URL: <%=player.video_url %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Profile: <%=player.profile_doc %></p>
                    </div>
                  </div>
            </div>


    </div>
    <div class=" tabcontent" id="academic_tab">
                <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">Education Type: <%=player.school_type %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">School name: <%=player.school_name %></p>
                    </div>
                </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Graduation Year: <%=player.grad_year %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">SAT Score: <%=player.sat_score %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">GPA: <%=player.gpa %> </p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">ACT Score: <%=player.act_score %> </p>
                    </div>
                  </div>
                  
            </div>


    </div>
    <div class=" tabcontent" id="accomplishments_tab">
        <% if(currentUser && currentUser.admin === 1){ %>
          <div>
              <a href="/players/<%=player.id %>/accomplishments/new" class="ui labeled icon button basic green"> <i class="user plus icon"></i>New </a>
          </div>
          <div class="ui divider"></div>

      <% } %>

            <% accomplishments.forEach(function(accomplishment){ %>
              <% if(currentUser && currentUser.admin === 1){ %>

              <a href="/players/<%=player.id %>/accomplishments/<%=accomplishment.id%>/edit" class="ui  labeled icon button edit-button  inverted mini">
                <i class="edit icon"></i>
                Edit
              </a>
              <form class=" form" action="/players/<%= player.id %>/accomplishments/<%=accomplishment.id%>?_method=DELETE" method="POST">
                <button class="ui  labeled icon button red mini inverted">
                <i class="trash icon"></i>
                Delete 
              </button>
              </form>
              <% } %>
            <h3> <%=accomplishment.name_acc %></h3>
            <p> <%=accomplishment.date_acc %></p>
            <p> <%=accomplishment.text_acc %></p>
            <div class="ui divider"></div>
            <% }) %>

    </div>
    
</div>



</div>
<% include ../partials/footer %>
