<% include ../partials/header %>


<div class="ui container">
  <h1>Coaches</h1>
<form class="ui form" action="/coaches" method="GET">
  <div class="fields">
    <div class="field">
        <label>Sort By</label>
        <div class="ui selection dropdown">
            <input type="hidden" name="sort" value="<%=sort %>" onchange="this.form.submit()">
            <i class="dropdown icon"></i>
            <div class="default text">Sort By</div>
            <div class="menu">
                <div class="item"  data-value="last_name">Last Name</div>
                <div class="item" data-value="team">Team</div>
                <div class ="item" data-value="coaching_role"> Coaching Role</div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Filter By</label>
        <div class="ui selection dropdown">
            <input type="hidden" name="filter" value="<%=filter %>" onchange="this.form.submit()">
            <i class="dropdown icon"></i>
            <div class="default text">Filter By</div>
            <div class="menu">
                <div class="item"  data-value="none">None</div>
                <div class="item"  data-value="U21 Boys">U21 Boys</div>
                <div class="item" data-value="U17 Boys">U17 Boys</div>
                <div class ="item" data-value="U17 Girls">U17 Girls</div>
            </div>
        </div>
    </div>
    
  </div>
  
</form>






<% if(currentUser && currentUser.admin === 1){ %>
    <div class="ui "> 
      <a class="ui right labeled icon button" href="/coaches/new">
        <i class="user plus icon"></i>
        Add Coach
      </a>
    </div>
<% }%>



<div class="ui link four  cards stackable">
<% coaches.forEach(function(coach){ %>

    <div class="card">
    <a class="image" href="/coaches/<%=coach.id %>">
      <img src="<%=coach.image_url %>">
    </a>
    <div class="content">
      <div class="header"><%=coach.first_name %> <%=coach.last_name %></div>
      <div class="meta">
        <a><%=coach.team %></a>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
  </div>

<% }); %>
<div class="ui horizontal divider">
</div>
</div>
<% include ../partials/footer %>
