<% include ../partials/header %>


<div class="ui container"> 
<h1>Coaches</h1>
<a class="ui right labeled icon button" href="/coaches/new">
  <i class="user plus icon"></i>
  Add Coach
</a>
</div>

<div class="ui link four container cards stackable">
<% coaches.forEach(function(coach){ %>

    <div class="card">
    <a class="image" href="coaches/<%=coach.id %>">
      <img src="<%=coach.image_url %>">
    </a>
    <div class="content">
      <div class="header"><%=coach.first_name %> <%=coach.last_name %></div>
      <div class="meta">
        <a><%=coach.team %></a>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
  </div>

<% }); %>
<div class="ui horizontal divider">
</div>

<% include ../partials/footer %>
