<% include ../partials/header %>

<div class="ui container">
<% if(currentUser && currentUser.admin === 1){ %>
  <div class="ui right aligned container"> 
      <div class="ui mini buttons">
          <a class="ui  labeled icon button olive inverted edit-button " href="/coaches/<%=coach.id %>/edit">
            <i class="edit icon"></i>
            Edit Player
          </a>
          <form class=" form" action="/coaches/<%= coach.id %>?_method=DELETE" method="POST">
            <button class="ui  labeled icon button red inverted">
            <i class="trash icon"></i>
            Delete Player
          </button>
          </form>
      </div>
      
    </div>
<% }%>



<div class=" ui grid container stackable">
    <div class="row">
        <div class="four wide column">
                  <img class="ui image bordered medium" src="<%=coach.image_url %>">

        </div>
        <div class=" twelve wide column">
            <h1><%=coach.jersey_num %><%=coach.first_name %> <%=coach.last_name %></h1>
            <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">Team: <%=coach.team %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">Role: <%=coach.coaching_role %></p>
                    </div>
                </div>
                 
                  <div class="item">
                    <div class="content">
                      <p class="header">Email: <%=coach.email %></p>
                    </div>
                  </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="ui tabular menu " id="tab-menu">
            <a class="active item tablinks"  id="defaultOpen" onclick="openTab(event, 'personal_tab')">
                <i class="info circle icon"></i>
              <div class="menu-text">
                Personal 
              </div>
            </a>
           
            <a class="item tablinks"  onclick="openTab(event, 'accomplishments_tab')">
                <i class="trophy icon"></i>
              <div class="menu-text">
                Accomplishments
              </div>
             </a>
        </div>
    </div>
    <div class="tabcontent  " id="personal_tab" >
        <div class="ui celled list">
               
                
                  <div class="item">
                    <div class="content">
                      <p class="header">Phone: <%=coach.phone %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Email: <%=coach.email %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Hometown: <%=coach.city %></p>
                    </div>
                  </div>
            </div>
    </div>
    
    <div class=" tabcontent" id="accomplishments_tab">
        <% if(currentUser && currentUser.admin === 1){ %>
          <div>   
               <a href="/coaches/<%=coach.id %>/accomplishments/new" class="ui labeled icon button basic green"> <i class="user plus icon"></i>New </a>
          </div>
          <div class="ui divider"></div>

        <% } %>

                 <% accomplishments.forEach(function(accomplishment){ %>
            <% if(currentUser && currentUser.admin === 1){ %>
            <a href="/coaches/<%=coach.id %>/accomplishments/<%=accomplishment.id%>/edit" class="ui  labeled icon button edit-button inverted mini">
              <i class="edit icon"></i>
              Edit
            </a>
            <form class=" form" action="/coaches/<%= coach.id %>/accomplishments/<%=accomplishment.id%>?_method=DELETE" method="POST">
              <button class="ui  labeled icon button red mini inverted">
              <i class="trash icon"></i>
              Delete 
            </button>
            </form>
            <% } %>

            <h3> <%=accomplishment.name_acc %></h3>
            <p> <%=accomplishment.date_acc %></p>
            <p> <%=accomplishment.text_acc %></p>
            <div class="ui divider"></div>
            <% }) %>

    </div>
    
</div>

</div>


<% include ../partials/footer %>


