<% include ../partials/header %>

<div class="ui container">
<% if(currentUser && currentUser.admin === 1){ %>
    <div class="ui right aligned "> 
  <a class="ui right labeled icon button" href="/coaches/<%=coach.id %>/edit">
    <i class="edit icon"></i>
    Edit Coach
  </a>
  <form class="ui form" action="/coaches/<%= coach.id %>?_method=DELETE" method="POST">
      <button class="ui right labeled icon button" >
    <i class="trash icon"></i>
    Delete Coach
  </button>
  </form>
</div>
<% }%>



<div class=" ui grid container">
    <div class="row">
        <div class="four wide column">
                  <img class="ui image bordered medium" src="<%=coach.image_url %>">

        </div>
        <div class=" twelve wide column">
            <h1><%=coach.jersey_num %><%=coach.first_name %> <%=coach.last_name %></h1>
            <div class="ui middle aligned divided list">
                <div class="item">
            
                    <div class="content">
                            <p class="header">Team: <%=coach.team %></p>
                    </div>
                 </div>
                <div class="item">
                    <div class="content">
                        <p class="header">Role: <%=coach.coaching_role %></p>
                    </div>
                </div>
                 
                  <div class="item">
                    <div class="content">
                      <p class="header">Email: <%=coach.email %></p>
                    </div>
                  </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="ui tabular menu ">
            <a class="active item tablinks"  id="defaultOpen" onclick="openTab(event, 'personal_tab')">
                Personal Info
            </a>
           
            <a class="item tablinks"  onclick="openTab(event, 'accomplishments_tab')">
                Accomplishments
             </a>
        </div>
    </div>
    <div class="tabcontent  " id="personal_tab" >
        <p>Hello 1</p>
        <div class="ui middle aligned divided list">
               
                
                  <div class="item">
                    <div class="content">
                      <p class="header">Phone: <%=coach.phone %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Email: <%=coach.email %></p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <p class="header">Hometown: <%=coach.city %></p>
                    </div>
                  </div>
            </div>
    </div>
    
    <div class=" tabcontent" id="accomplishments_tab">
                 <% accomplishments.forEach(function(accomplishment){ %>
            <h3> <%=accomplishment.name_acc %></h3>
            <p> <%=accomplishment.date_acc %></p>
            <p> <%=accomplishment.text_acc %></p>
            <div class="ui divider"></div>
            <% }) %>

    </div>
    
</div>

</div>


<% include ../partials/footer %>


