<% include ../partials/header %>
<div class="ui container">
    <% if(person.role==="coach"){ %>
    <form class="ui form" method="POST" action="/coaches/<%= person.id %>/accomplishments/<%=accomplishment.id%>?_method=PUT">
    <% }else if(person.role==="athlete"){ %>
    <form class="ui form" method="POST" action="/players/<%= person.id %>/accomplishments/<%=accomplishment.id%>?_method=PUT">
    <% }%>
    
        <h2>Edit an Accomplishment</h2>

        <div class="fields">
            <div class="field">
                <label> Accomplishment Title</label>
                <input type="text" name="accomplishment[name_acc]" placeholder="Title" value="<%=accomplishment.name_acc%>">
            </div>
            <div class="field">
                <label> Accomplishment Year</label>
                <input type="number" name="accomplishment[date_acc]" min="1900" max="2099" step="1" placeholder="Year" value="<%=accomplishment.date_acc%>"/>
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>Accomplishment Description</label>
                <textarea name="accomplishment[text_acc]" placeholder="(Max 750 characters)"  rows="4"><%=accomplishment.text_acc%></textarea>
                
            </div>
            
        </div>
                <button class="ui button" type="submit">Submit</button>

    </form>
</div>

<% include ../partials/footer %>
